body{
font-family: Arial;
background:#e8f7f5;
margin:0;
}

header{
background:#1f9e95;
color:white;
text-align:center;
padding:20px;
}

.container{
width:80%;
margin:auto;
margin-top:20px;
}

input,button{
padding:8px;
margin:5px;
}

button{
background:#1f9e95;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#147f77;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
background:white;
}

th{
background:#1f9e95;
color:white;
padding:10px;
}

td{
padding:10px;
border-bottom:1px solid #ccc;
text-align:center;
}

footer{
background:#1f9e95;
color:white;
text-align:center;
padding:10px;
margin-top:20px;
}